alias ssh="TERM=xterm-256color ssh"
#alias vim=nvim

alias tx="tar -xzvf"
alias tc="tar -czvf"

alias vimrc="vim ~/.vimrc"
alias taskrc="vim ~/.taskrc"

alias del="rmtrash"

alias tesi="cd ~/Documents/tesi/src"
alias note="cd ~/note; ./start.sh"

alias gdm="git add . ; git commit -m \"commento inutile\"; git push"

alias mmdc="/Users/francesco/node_modules/.bin/mmdc"
# export EDITOR="/usr/local/bin/mvim"
export EDITOR="/usr/local/bin/vim"
export MSPGCC_ROOT="$HOME/ti/msp430-gcc/bin"

alias mspcomp="sh /Users/francesco/condivisaFra/msp430/compile.sh"

alias gcc='gcc-8'
alias cc='gcc-8'
alias g++='g++-8'
alias c++='c++-8'
