alias ssh="TERM=xterm-256color ssh"
#alias vim=nvim

alias tx="tar -xzvf"
alias tc="tar -czvf"

alias vimrc="vim ~/.vimrc"
alias taskrc="vim ~/.taskrc"

alias del="rmtrash"

alias tesi="cd ~/Documents/tesi/src; vim"
alias note="cd ~/note; ./start.sh"

alias gdm="git add . ; git commit -m \"commento inutile\"; git push"

alias mmdc="/Users/francesco/node_modules/.bin/mmdc"
# export EDITOR="/usr/local/bin/mvim"
export EDITOR="/usr/local/bin/vim"
